* {
    margin: 0;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;
}
body {
    background-image: url('../imagenes/fondo01.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(83, 139, 141);
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}
main {
    background-color: rgba(0, 0, 0, 0.397);
}
nav {
    text-align: center;
    background-color: rgba(73, 178, 182, 0.61);
    margin-bottom: 40px;
    
}
nav ul {
    list-style: none;
    margin: 8px;
    padding: 2px;
}
section h1 {
    text-align: center;
    background-position: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav li {
    display: inline;
}
nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
nav li a:hover {
    background-color: rgb(56, 132, 134);
    margin: 1px;
    padding: 10px;
    
}
article p {
    color: white;
    margin-left: 200px;
}
table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px;
    color: white;
    margin-right: 150px;
    float: right;
    justify-content: center;
}