* {
    margin: 0;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;
}
body {
    background-image: url('../imagenes/fondo01.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
    margin-bottom: 30px;
}
main {
    background-color: rgba(0, 0, 0, 0.466);
}
nav {
    text-align: center;
    background-color: rgba(81, 211, 216, 0.61);
    margin-bottom: 40px;
}
nav ul {
    list-style: none;
    margin: 8px;
    padding: 2px;
}
section h1 {
    text-align: center;
    background-position: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav li {
    display: inline;
}
nav li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
nav li a:hover {
    background-color: cadetblue;
    margin: 1px;
    padding: 10px;
    
}
table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    
}