* {
    margin: 0;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;
}
body {
    background-image: url('../imagenes/fondo01.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(83, 139, 141);
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    padding: 10px;
}
main {
    background-color: rgba(0, 0, 0, 0.699);
}
nav {
    text-align: center;
    background-color: rgba(73, 178, 182, 0.61);
    margin-bottom: 40px;
    
}
nav ul {
    list-style: none;
    margin: 20px;
    padding: 20px;
}
section h1 {
    text-align: center;
    background-position: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav li {
    display: inline;
    margin-left: 50px;
}
nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
nav li a:hover {
    background-color: rgb(39, 93, 95);
    margin: 10px;
    padding: 20px;
    
}
article {
    position: relative;
}
article p {
    color: white;
    margin-left: 250px;
    font-size: 18px;
}
table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid rgb(255, 255, 255);
    margin: 5px;
    padding: 20px;
    color: white;
    align-content: center;
    text-align: center;
    margin-left: 600px;
}
table tbody tr td ul li {
    margin-left: 20px;
    margin-right: 20px;
}